In [1]:
import pandas as pd
import numpy as np

In [3]:
dict = {'Col1':[1,2,3,np.nan],
'Col2':[4,np.nan, 6,7],
'Col3':['a','b','c',None]}

In [4]:
dict

{'Col1': [1, 2, 3, nan], 'Col2': [4, nan, 6, 7], 'Col3': ['a', 'b', 'c', None]}

In [5]:
df = pd.DataFrame(dict)

In [6]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [7]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [8]:
df.isnull().sum()

Col1    1
Col2    1
Col3    1
dtype: int64

In [9]:
df.fillna('Missing')

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [10]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c

In [11]:
df_books['Year'] > 2016

NameError: name 'df_books' is not defined

In [13]:
df_books = pd.read_csv('pandas_numpy/bestsellers.csv')

In [14]:
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [15]:
df_books['Year'] > 2016

0      False
1      False
2       True
3       True
4       True
       ...
545     True
546    False
547     True
548     True
549     True
Name: Year, Length: 550, dtype: bool

In [17]:
mayor_2016 = df_books['Year'] > 2016

In [18]:
df_books[mayor_2016]

,Name,Author,User Rating,Reviews,Price,Year,Genre
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
...,...,...,...,...,...,...,...
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [19]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [20]:
df_books.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

In [21]:
df_books['Year'].value_counts()

2016    50
2011    50
2018    50
2017    50
2019    50
2014    50
2010    50
2009    50
2015    50
2013    50
2012    50
Name: Year, dtype: int64

In [22]:
df_books.sort_values('Year').value_counts()

Name                                                                                                            Author            User Rating  Reviews  Price  Year  Genre
10-Day Green Smoothie Cleanse                                                                                   JJ Smith          4.7          17350    8      2016  Non Fiction    1
The Five Dysfunctions of a Team: A Leadership Fable                                                             Patrick Lencioni  4.6          3207     6      2009  Non Fiction    1
The Dukan Diet: 2 Steps to Lose the Weight, 2 Steps to Keep It Off Forever                                      Pierre Dukan      4.1          2023     15     2011  Non Fiction    1
The Elegance of the Hedgehog                                                                                    Muriel Barbery    4.0          1859     11     2009  Fiction        1
The Fault in Our Stars                                                                                          John Green        4.7          50482    7      2014  Fiction        1
                                                                                                                                                                                   ..
I, Alex Cross                                                                                                   James Patterson   4.6          1320     7      2009  Fiction        1
I Am Confident, Brave & Beautiful: A Coloring Book for Girls                                                    Hopscotch Girls   4.8          9737     7      2019  Non Fiction    1
Hyperbole and a Half: Unfortunate Situations, Flawed Coping Mechanisms, Mayhem, and Other Things That Happened  Allie Brosh       4.7          4896     17     2013  Non Fiction    1
Humans of New York : Stories                                                                                    Brandon Stanton   4.9          2812     17     2015  Non Fiction    1
You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life                          Jen Sincero       4.7          14331    8      2019  Non Fiction    1
Length: 550, dtype: int64

In [25]:
df_books['Year'].sort_values('Year', ascending=True).value_counts()

C:\Users\MANDO\AppData\Local\Temp\ipykernel_15472\201656153.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  df_books['Year'].sort_values('Year', ascending=True).value_counts()

ValueError: No axis named Year for object type Series

In [27]:
df_books['Year'].sort_values().value_counts()

2009    50
2010    50
2011    50
2012    50
2013    50
2014    50
2015    50
2016    50
2017    50
2018    50
2019    50
Name: Year, dtype: int64