In [1]:
import pandas as pd

In [2]:
df_arl = pd.read_csv('SURA/arl19_22_Mayo.csv', sep=';', header=0, encoding = 'unicode_escape', engine ='python')

In [3]:
df_arl.head(10)

,ID,FechaOperacion,ServicioOrigen,ServicioDestino,Identificador,DatosOperacion.IdArl,DatosOperacion.UsuarioCreacion,DatosOperacion.IpCreacion,DatosOperacion.Identificador,DatosOperacion.CodigoARL,...,DatosOperacion.TelefonoSedeP,DatosOperacion.CorreoSedeP,DatosOperacion.TipoDocumentoResponsable,DatosOperacion.NumeroDocumentoResponsable,DatosOperacion.PrimerNombreResponsable,DatosOperacion.PrimerApellidoResponsable,DatosRespuesta.resultado,DatosRespuesta.mensaje,DatosRespuesta.codigo,MetaDatos
0,540137257,16/05/2022 1:39,1001,1002,0DD83FAC-B7A3-436D-809B-E110932B7974,43.0,800226175.0,192.168.97.252,0dd83fac-b7a3-436d-809b-e110932b7974,14-25,...,2.656802e+06,AUXILIAR.TALENTOHUMANO@AYS.COM.CO,CC,43606567,LAURA,CORDOBA,0.0,El empleador no existe en la información de re...,GN01,NaN
1,540137262,16/05/2022 1:39,1001,1002,54278FCA-FDEA-4A0E-89F5-F8A6702D3AA2,43.0,800226175.0,192.168.97.252,54278fca-fdea-4a0e-89f5-f8a6702d3aa2,14-25,...,3.209589e+09,GANADO.JM@OUTLOOK.ES,CC,10089578,ARCESIO,GOMEZ,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
2,540137268,16/05/2022 1:39,1001,1002,1580CE13-DC38-4D41-82AF-4244DB93E0DD,43.0,800226175.0,192.168.97.252,1580ce13-dc38-4d41-82af-4244db93e0dd,14-25,...,3.106025e+09,SOLUCIONESBMSAS@GMAIL.COM,CC,72279108,ALFREDO,MARTINEZ,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
3,540137276,16/05/2022 1:39,1001,1002,9E627527-D316-4D90-B596-9E73D4FCE682,43.0,800226175.0,192.168.97.252,9e627527-d316-4d90-b596-9e73d4fce682,14-25,...,3.006901e+09,GERENCIA@GMXSALUDOCUPACIONAL.COM,CC,32938928,SANDY,ACOSTA,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
4,540137285,16/05/2022 1:39,1001,1002,AC703E2C-B0CF-40D4-81F0-4DBBDBBD7531,43.0,800226175.0,192.168.97.252,ac703e2c-b0cf-40d4-81f0-4dbbdbbd7531,14-25,...,3.235869e+09,DAISSY.BENAVIDESTORRES@GMAIL.COM,CC,1129570651,DEISSY,BENAVIDES,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
5,540137288,16/05/2022 1:39,1001,1002,80D3FAA9-6DCF-4E99-A211-5CD8EFF5C967,43.0,800226175.0,192.168.97.252,80d3faa9-6dcf-4e99-a211-5cd8eff5c967,14-25,...,2.554347e+06,ANALISTA.FINANCIERO2@GRUPOCIUDADELA.COM.CO,CC,1027896603,CAROLINA,GONZALEZ,0.0,CorreoEmpleador,GE09,NaN
6,540137298,16/05/2022 1:39,1001,1002,ADFB8BBF-1937-45BA-B596-4DC5E5A11CC8,43.0,800226175.0,192.168.97.252,adfb8bbf-1937-45ba-b596-4dc5e5a11cc8,14-25,...,3.115217e+09,JIMENOS11@HOTMAIL.COM,CC,30080831,MARIA,JIMENO,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
7,540137302,16/05/2022 1:39,1001,1002,2D6E2C9A-F072-4050-8374-D4A88A3FF007,43.0,800226175.0,192.168.97.252,2d6e2c9a-f072-4050-8374-d4a88a3ff007,14-25,...,3.103819e+09,JIMENEZMAYORQUIN@GMAIL.COM,CC,80172180,MIGUEL,JIMENEZ,0.0,Razón social o nombre de la empresa (Fuente de...,GN06,NaN
8,540137310,16/05/2022 1:39,1001,1002,58410EF5-171C-4D61-BB19-80A64EEAD1B5,43.0,800226175.0,192.168.97.252,58410ef5-171c-4d61-bb19-80a64eead1b5,14-25,...,3.136268e+09,SEGURIDADSOCIALMEDELLIN@GMAIL.COM,CC,1036131564,JAVIER,VILLEGAS,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
9,540137315,16/05/2022 1:39,1001,1002,370D0B59-91BF-40B0-88EE-D72EA9147A47,43.0,800226175.0,192.168.97.252,370d0b59-91bf-40b0-88ee-d72ea9147a47,14-25,...,3.175260e+09,MAYRAORTIZ237@HOTMAIL.COM,CC,1113621321,MAIRA,ORTIZ,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN

In [10]:
df_arl.columns

Index(['ID', 'FechaOperacion', 'ServicioOrigen', 'ServicioDestino',
       'Identificador', 'DatosOperacion.IdArl',
       'DatosOperacion.UsuarioCreacion', 'DatosOperacion.IpCreacion',
       'DatosOperacion.Identificador', 'DatosOperacion.CodigoARL',
       'DatosOperacion.TipoDocumentoEmpleador',
       'DatosOperacion.NumeroDocumentoEmpleador',
       'DatosOperacion.ConsecutivoNITEmpleador', 'DatosOperacion.TipoPersona',
       'DatosOperacion.NaturalezaJuridica', 'DatosOperacion.TipoAportante',
       'DatosOperacion.RazonSocialEmpleador',
       'DatosOperacion.PrimerNombreEmpleador',
       'DatosOperacion.PrimerApellidoEmpleador',
       'DatosOperacion.CorreoEmpleador', 'DatosOperacion.ActividadEconomica',
       'DatosOperacion.ClaseAportante',
       'DatosOperacion.TipoDocumentoRepresentante',
       'DatosOperacion.NumeroDocumentoRepresentante',
       'DatosOperacion.PrimerNombreRepresentante',
       'DatosOperacion.PrimerApellidoRepresentante',
       'DatosOperacion.FechaAfiliacion', 'DatosOperacion.CodigoSedeP',
       'DatosOperacion.NombreSedeP', 'DatosOperacion.MunicipioSedeP',
       'DatosOperacion.DireccionSedeP', 'DatosOperacion.ZonaSedeP',
       'DatosOperacion.TelefonoSedeP', 'DatosOperacion.CorreoSedeP',
       'DatosOperacion.TipoDocumentoResponsable',
       'DatosOperacion.NumeroDocumentoResponsable',
       'DatosOperacion.PrimerNombreResponsable',
       'DatosOperacion.PrimerApellidoResponsable', 'DatosRespuesta.resultado',
       'DatosRespuesta.mensaje', 'DatosRespuesta.codigo', 'MetaDatos'],
      dtype='object')

In [11]:
df_arl['DatosOperacion.IdArl'] == 43.0

0          True
1          True
2          True
3          True
4          True
          ...
993458    False
993459    False
993460    False
993461    False
993462    False
Name: DatosOperacion.IdArl, Length: 993463, dtype: bool

In [13]:
df_arl[df_arl['DatosOperacion.IdArl'] == 42.0]

,ID,FechaOperacion,ServicioOrigen,ServicioDestino,Identificador,DatosOperacion.IdArl,DatosOperacion.UsuarioCreacion,DatosOperacion.IpCreacion,DatosOperacion.Identificador,DatosOperacion.CodigoARL,...,DatosOperacion.TelefonoSedeP,DatosOperacion.CorreoSedeP,DatosOperacion.TipoDocumentoResponsable,DatosOperacion.NumeroDocumentoResponsable,DatosOperacion.PrimerNombreResponsable,DatosOperacion.PrimerApellidoResponsable,DatosRespuesta.resultado,DatosRespuesta.mensaje,DatosRespuesta.codigo,MetaDatos
9633,540197807,16/05/2022 5:05,7001,7002,F84156F8-FD5C-4C7F-AB9E-9062E2880C83,42.0,890903790.0,192.168.97.252,f84156f8-fd5c-4c7f-ab9e-9062e2880c83,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,INICIO FALLIDO,ERROR,NaN
9634,540197808,16/05/2022 5:05,7001,7002,15F2CA36-9679-4418-B331-9E8EC8886054,42.0,890903790.0,192.168.97.252,15f2ca36-9679-4418-b331-9e8ec8886054,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,INICIO FALLIDO,ERROR,NaN
9638,540197839,16/05/2022 5:05,7001,7002,80AE6A58-EE16-4BDE-AD78-A3488477237D,42.0,890903790.0,192.168.97.252,80ae6a58-ee16-4bde-ad78-a3488477237d,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Por favor comuníquese con la mesa de ayuda con...,ERROR,NaN
9641,540197864,16/05/2022 5:05,7001,7002,D5E40FF7-EB7D-43F5-BBB0-76B8535E05A6,42.0,890903790.0,192.168.97.252,d5e40ff7-eb7d-43f5-bbb0-76b8535e05a6,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,INICIO FALLIDO,ERROR,NaN
9644,540197890,16/05/2022 5:05,7001,7002,56F64A95-0406-4C4F-A8F6-0136659E0820,42.0,890903790.0,192.168.97.252,56f64a95-0406-4c4f-a8f6-0136659e0820,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Existe una relación vigente con ese empleador ...,GN39a,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989671,549252318,21/05/2022 23:54,17001,17002,83DF9E64-1A98-494D-AE9D-69BAA81F043A,42.0,890903790.0,192.168.97.252,83df9e64-1a98-494d-ae9d-69baa81f043a,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No existe una relación vigente con el empleado...,GN39a,NaN
989672,549252332,21/05/2022 23:54,17001,17002,9D25C578-AF98-49A5-9A1C-C0BB46B40852,42.0,890903790.0,192.168.97.252,9d25c578-af98-49a5-9a1c-c0bb46b40852,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No existe una relación vigente con el empleado...,GN39a,NaN
989673,549252343,21/05/2022 23:54,17001,17002,AC72CF1B-D1C6-4189-A773-B907596462D4,42.0,890903790.0,192.168.97.252,ac72cf1b-d1c6-4189-a773-b907596462d4,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No existe una relación vigente con el empleado...,GN39a,NaN
989674,549252347,21/05/2022 23:54,17001,17002,084B7B46-827C-4BCC-B3A3-5337425BE0F0,42.0,890903790.0,192.168.97.252,084b7b46-827c-4bcc-b3a3-5337425be0f0,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No existe una relación vigente con el empleado...,GN39a,NaN
989676,549252356,21/05/2022 23:54,17001,17002,CC132FFD-54A9-44CC-8C22-B47C922D0FA4,42.0,890903790.0,192.168.97.252,cc132ffd-54a9-44cc-8c22-b47c922d0fa4,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No existe una relación vigente con el empleado...,GN39a,NaN

In [8]:
df.head(10)

,ID,FechaOperacion,ServicioOrigen,ServicioDestino,Identificador,DatosOperacion.IdArl,DatosOperacion.UsuarioCreacion,DatosOperacion.IpCreacion,DatosOperacion.Identificador,DatosOperacion.CodigoARL,...,DatosOperacion.TelefonoSedeP,DatosOperacion.CorreoSedeP,DatosOperacion.TipoDocumentoResponsable,DatosOperacion.NumeroDocumentoResponsable,DatosOperacion.PrimerNombreResponsable,DatosOperacion.PrimerApellidoResponsable,DatosRespuesta.resultado,DatosRespuesta.mensaje,DatosRespuesta.codigo,MetaDatos
0,540137257,16/05/2022 1:39,1001,1002,0DD83FAC-B7A3-436D-809B-E110932B7974,43.0,800226175.0,192.168.97.252,0dd83fac-b7a3-436d-809b-e110932b7974,14-25,...,2.656802e+06,AUXILIAR.TALENTOHUMANO@AYS.COM.CO,CC,43606567,LAURA,CORDOBA,0.0,El empleador no existe en la información de re...,GN01,NaN
1,540137262,16/05/2022 1:39,1001,1002,54278FCA-FDEA-4A0E-89F5-F8A6702D3AA2,43.0,800226175.0,192.168.97.252,54278fca-fdea-4a0e-89f5-f8a6702d3aa2,14-25,...,3.209589e+09,GANADO.JM@OUTLOOK.ES,CC,10089578,ARCESIO,GOMEZ,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
2,540137268,16/05/2022 1:39,1001,1002,1580CE13-DC38-4D41-82AF-4244DB93E0DD,43.0,800226175.0,192.168.97.252,1580ce13-dc38-4d41-82af-4244db93e0dd,14-25,...,3.106025e+09,SOLUCIONESBMSAS@GMAIL.COM,CC,72279108,ALFREDO,MARTINEZ,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
3,540137276,16/05/2022 1:39,1001,1002,9E627527-D316-4D90-B596-9E73D4FCE682,43.0,800226175.0,192.168.97.252,9e627527-d316-4d90-b596-9e73d4fce682,14-25,...,3.006901e+09,GERENCIA@GMXSALUDOCUPACIONAL.COM,CC,32938928,SANDY,ACOSTA,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
4,540137285,16/05/2022 1:39,1001,1002,AC703E2C-B0CF-40D4-81F0-4DBBDBBD7531,43.0,800226175.0,192.168.97.252,ac703e2c-b0cf-40d4-81f0-4dbbdbbd7531,14-25,...,3.235869e+09,DAISSY.BENAVIDESTORRES@GMAIL.COM,CC,1129570651,DEISSY,BENAVIDES,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
5,540137288,16/05/2022 1:39,1001,1002,80D3FAA9-6DCF-4E99-A211-5CD8EFF5C967,43.0,800226175.0,192.168.97.252,80d3faa9-6dcf-4e99-a211-5cd8eff5c967,14-25,...,2.554347e+06,ANALISTA.FINANCIERO2@GRUPOCIUDADELA.COM.CO,CC,1027896603,CAROLINA,GONZALEZ,0.0,CorreoEmpleador,GE09,NaN
6,540137298,16/05/2022 1:39,1001,1002,ADFB8BBF-1937-45BA-B596-4DC5E5A11CC8,43.0,800226175.0,192.168.97.252,adfb8bbf-1937-45ba-b596-4dc5e5a11cc8,14-25,...,3.115217e+09,JIMENOS11@HOTMAIL.COM,CC,30080831,MARIA,JIMENO,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
7,540137302,16/05/2022 1:39,1001,1002,2D6E2C9A-F072-4050-8374-D4A88A3FF007,43.0,800226175.0,192.168.97.252,2d6e2c9a-f072-4050-8374-d4a88a3ff007,14-25,...,3.103819e+09,JIMENEZMAYORQUIN@GMAIL.COM,CC,80172180,MIGUEL,JIMENEZ,0.0,Razón social o nombre de la empresa (Fuente de...,GN06,NaN
8,540137310,16/05/2022 1:39,1001,1002,58410EF5-171C-4D61-BB19-80A64EEAD1B5,43.0,800226175.0,192.168.97.252,58410ef5-171c-4d61-bb19-80a64eead1b5,14-25,...,3.136268e+09,SEGURIDADSOCIALMEDELLIN@GMAIL.COM,CC,1036131564,JAVIER,VILLEGAS,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
9,540137315,16/05/2022 1:39,1001,1002,370D0B59-91BF-40B0-88EE-D72EA9147A47,43.0,800226175.0,192.168.97.252,370d0b59-91bf-40b0-88ee-d72ea9147a47,14-25,...,3.175260e+09,MAYRAORTIZ237@HOTMAIL.COM,CC,1113621321,MAIRA,ORTIZ,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993463 entries, 0 to 993462
Data columns (total 42 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   ID                                           993463 non-null  int64
 1   FechaOperacion                               993463 non-null  object
 2   ServicioOrigen                               993463 non-null  int64
 3   ServicioDestino                              993463 non-null  int64
 4   Identificador                                993463 non-null  object
 5   DatosOperacion.IdArl                         993029 non-null  float64
 6   DatosOperacion.UsuarioCreacion               993029 non-null  float64
 7   DatosOperacion.IpCreacion                    993029 non-null  object
 8   DatosOperacion.Identificador                 993029 non-null  object
 9   DatosOperacion.CodigoARL                     993029 non-null  object
 10  DatosOperacion.TipoDocumentoEmpleador        979977 non-null  object
 11  DatosOperacion.NumeroDocumentoEmpleador      979983 non-null  object
 12  DatosOperacion.ConsecutivoNITEmpleador       979983 non-null  object
 13  DatosOperacion.TipoPersona                   15203 non-null   object
 14  DatosOperacion.NaturalezaJuridica            15284 non-null   float64
 15  DatosOperacion.TipoAportante                 15306 non-null   float64
 16  DatosOperacion.RazonSocialEmpleador          13162 non-null   object
 17  DatosOperacion.PrimerNombreEmpleador         4655 non-null    object
 18  DatosOperacion.PrimerApellidoEmpleador       4655 non-null    object
 19  DatosOperacion.CorreoEmpleador               15306 non-null   object
 20  DatosOperacion.ActividadEconomica            15306 non-null   float64
 21  DatosOperacion.ClaseAportante                15203 non-null   object
 22  DatosOperacion.TipoDocumentoRepresentante    15203 non-null   object
 23  DatosOperacion.NumeroDocumentoRepresentante  15203 non-null   object
 24  DatosOperacion.PrimerNombreRepresentante     15203 non-null   object
 25  DatosOperacion.PrimerApellidoRepresentante   15203 non-null   object
 26  DatosOperacion.FechaAfiliacion               15306 non-null   object
 27  DatosOperacion.CodigoSedeP                   15306 non-null   float64
 28  DatosOperacion.NombreSedeP                   15306 non-null   object
 29  DatosOperacion.MunicipioSedeP                15304 non-null   float64
 30  DatosOperacion.DireccionSedeP                15304 non-null   object
 31  DatosOperacion.ZonaSedeP                     15306 non-null   object
 32  DatosOperacion.TelefonoSedeP                 15306 non-null   float64
 33  DatosOperacion.CorreoSedeP                   15306 non-null   object
 34  DatosOperacion.TipoDocumentoResponsable      31769 non-null   object
 35  DatosOperacion.NumeroDocumentoResponsable    31755 non-null   object
 36  DatosOperacion.PrimerNombreResponsable       31769 non-null   object
 37  DatosOperacion.PrimerApellidoResponsable     31764 non-null   object
 38  DatosRespuesta.resultado                     988361 non-null  float64
 39  DatosRespuesta.mensaje                       988361 non-null  object
 40  DatosRespuesta.codigo                        988361 non-null  object
 41  MetaDatos                                    0 non-null       float64
dtypes: float64(10), int64(3), object(29)
memory usage: 318.3+ MB

In [16]:
df['DatosOperacion.IdArl'].fillna(0)

0         43.0
1         43.0
2         43.0
3         43.0
4         43.0
          ...
993458    44.0
993459    44.0
993460    49.0
993461    44.0
993462    44.0
Name: DatosOperacion.IdArl, Length: 993463, dtype: float64

In [18]:
df['DatosOperacion.IdArl'] = df['DatosOperacion.IdArl'].astype("int64")
df['DatosOperacion.IdArl'].fillna(0)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [19]:
df['DatosOperacion.IdArl'] = df['DatosOperacion.IdArl'].fillna(0)

In [20]:
df['DatosOperacion.IdArl'].astype('int64')

0         43
1         43
2         43
3         43
4         43
          ..
993458    44
993459    44
993460    49
993461    44
993462    44
Name: DatosOperacion.IdArl, Length: 993463, dtype: int64

In [21]:
df['DatosOperacion.IdArl'] == 42

0         False
1         False
2         False
3         False
4         False
          ...
993458    False
993459    False
993460    False
993461    False
993462    False
Name: DatosOperacion.IdArl, Length: 993463, dtype: bool

In [23]:
df[df['DatosOperacion.IdArl'] == 42].astype('int64')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [64]:
df[['ID', 'FechaOperacion', 'ServicioOrigen', 'DatosOperacion.IdArl', 'DatosOperacion.TipoDocumentoEmpleador', 'DatosOperacion.NumeroDocumentoEmpleador', 'DatosOperacion.TipoPersona', 'DatosRespuesta.mensaje', 'DatosRespuesta.codigo']]

,ID,FechaOperacion,ServicioOrigen,DatosOperacion.IdArl,DatosOperacion.TipoDocumentoEmpleador,DatosOperacion.NumeroDocumentoEmpleador,DatosOperacion.TipoPersona,DatosRespuesta.mensaje,DatosRespuesta.codigo
0,540137257,16/05/2022 1:39,1001,43.0,NI,901587604,J,El empleador no existe en la información de re...,GN01
1,540137262,16/05/2022 1:39,1001,43.0,CC,10089578,N,APORTANTE EXISTENTE EN SAT,GN02
2,540137268,16/05/2022 1:39,1001,43.0,NI,901502651,J,APORTANTE EXISTENTE EN SAT,GN02
3,540137276,16/05/2022 1:39,1001,43.0,NI,901260290,J,APORTANTE EXISTENTE EN SAT,GN02
4,540137285,16/05/2022 1:39,1001,43.0,NI,901574329,J,APORTANTE EXISTENTE EN SAT,GN02
...,...,...,...,...,...,...,...,...,...
993458,549288882,22/05/2022 2:01,1001,44.0,NI,901486264,J,Razón social o nombre de la empresa (Fuente de...,GN06
993459,549288886,22/05/2022 2:01,1001,44.0,NI,901485796,J,Razón social o nombre de la empresa (Fuente de...,GN06
993460,549288896,22/05/2022 2:01,12001,49.0,NI,900364153,NaN,REPORTE EXITOSO,OK
993461,549288899,22/05/2022 2:01,1001,44.0,NI,901437425,J,Ya existe una afiliación a la ARL (14-29) para...,GN02
993462,549288907,22/05/2022 2:01,1001,44.0,NI,901399279,J,Razón social o nombre de la empresa (Fuente de...,GN06

In [24]:
cols_to_subset = ['ID', 'FechaOperacion', 'ServicioOrigen', 'DatosOperacion.IdArl', 'DatosOperacion.TipoDocumentoEmpleador', 'DatosOperacion.NumeroDocumentoEmpleador', 'DatosOperacion.TipoPersona', 'DatosRespuesta.mensaje', 'DatosRespuesta.codigo']

In [27]:
df[cols_to_subset],[cols_to_subset.DatosOperacion.IdArl == 42]

AttributeError: 'list' object has no attribute 'DatosOperacion'

In [37]:
equal_43 = df[df['DatosOperacion.IdArl'] == 42]

In [39]:
equal_43

,ID,FechaOperacion,ServicioOrigen,ServicioDestino,Identificador,DatosOperacion.IdArl,DatosOperacion.UsuarioCreacion,DatosOperacion.IpCreacion,DatosOperacion.Identificador,DatosOperacion.CodigoARL,...,DatosOperacion.TelefonoSedeP,DatosOperacion.CorreoSedeP,DatosOperacion.TipoDocumentoResponsable,DatosOperacion.NumeroDocumentoResponsable,DatosOperacion.PrimerNombreResponsable,DatosOperacion.PrimerApellidoResponsable,DatosRespuesta.resultado,DatosRespuesta.mensaje,DatosRespuesta.codigo,MetaDatos
9633,540197807,16/05/2022 5:05,7001,7002,F84156F8-FD5C-4C7F-AB9E-9062E2880C83,42.0,890903790.0,192.168.97.252,f84156f8-fd5c-4c7f-ab9e-9062e2880c83,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,INICIO FALLIDO,ERROR,NaN
9634,540197808,16/05/2022 5:05,7001,7002,15F2CA36-9679-4418-B331-9E8EC8886054,42.0,890903790.0,192.168.97.252,15f2ca36-9679-4418-b331-9e8ec8886054,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,INICIO FALLIDO,ERROR,NaN
9638,540197839,16/05/2022 5:05,7001,7002,80AE6A58-EE16-4BDE-AD78-A3488477237D,42.0,890903790.0,192.168.97.252,80ae6a58-ee16-4bde-ad78-a3488477237d,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Por favor comuníquese con la mesa de ayuda con...,ERROR,NaN
9641,540197864,16/05/2022 5:05,7001,7002,D5E40FF7-EB7D-43F5-BBB0-76B8535E05A6,42.0,890903790.0,192.168.97.252,d5e40ff7-eb7d-43f5-bbb0-76b8535e05a6,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,INICIO FALLIDO,ERROR,NaN
9644,540197890,16/05/2022 5:05,7001,7002,56F64A95-0406-4C4F-A8F6-0136659E0820,42.0,890903790.0,192.168.97.252,56f64a95-0406-4c4f-a8f6-0136659e0820,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Existe una relación vigente con ese empleador ...,GN39a,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989671,549252318,21/05/2022 23:54,17001,17002,83DF9E64-1A98-494D-AE9D-69BAA81F043A,42.0,890903790.0,192.168.97.252,83df9e64-1a98-494d-ae9d-69baa81f043a,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No existe una relación vigente con el empleado...,GN39a,NaN
989672,549252332,21/05/2022 23:54,17001,17002,9D25C578-AF98-49A5-9A1C-C0BB46B40852,42.0,890903790.0,192.168.97.252,9d25c578-af98-49a5-9a1c-c0bb46b40852,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No existe una relación vigente con el empleado...,GN39a,NaN
989673,549252343,21/05/2022 23:54,17001,17002,AC72CF1B-D1C6-4189-A773-B907596462D4,42.0,890903790.0,192.168.97.252,ac72cf1b-d1c6-4189-a773-b907596462d4,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No existe una relación vigente con el empleado...,GN39a,NaN
989674,549252347,21/05/2022 23:54,17001,17002,084B7B46-827C-4BCC-B3A3-5337425BE0F0,42.0,890903790.0,192.168.97.252,084b7b46-827c-4bcc-b3a3-5337425be0f0,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No existe una relación vigente con el empleado...,GN39a,NaN
989676,549252356,21/05/2022 23:54,17001,17002,CC132FFD-54A9-44CC-8C22-B47C922D0FA4,42.0,890903790.0,192.168.97.252,cc132ffd-54a9-44cc-8c22-b47c922d0fa4,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No existe una relación vigente con el empleado...,GN39a,NaN

In [41]:
equal_43.to_csv('SURA/datagy42.csv', index=False, header=True)

In [42]:
equal_43.head(5)

,ID,FechaOperacion,ServicioOrigen,ServicioDestino,Identificador,DatosOperacion.IdArl,DatosOperacion.UsuarioCreacion,DatosOperacion.IpCreacion,DatosOperacion.Identificador,DatosOperacion.CodigoARL,...,DatosOperacion.TelefonoSedeP,DatosOperacion.CorreoSedeP,DatosOperacion.TipoDocumentoResponsable,DatosOperacion.NumeroDocumentoResponsable,DatosOperacion.PrimerNombreResponsable,DatosOperacion.PrimerApellidoResponsable,DatosRespuesta.resultado,DatosRespuesta.mensaje,DatosRespuesta.codigo,MetaDatos
9633,540197807,16/05/2022 5:05,7001,7002,F84156F8-FD5C-4C7F-AB9E-9062E2880C83,42.0,890903790.0,192.168.97.252,f84156f8-fd5c-4c7f-ab9e-9062e2880c83,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,INICIO FALLIDO,ERROR,NaN
9634,540197808,16/05/2022 5:05,7001,7002,15F2CA36-9679-4418-B331-9E8EC8886054,42.0,890903790.0,192.168.97.252,15f2ca36-9679-4418-b331-9e8ec8886054,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,INICIO FALLIDO,ERROR,NaN
9638,540197839,16/05/2022 5:05,7001,7002,80AE6A58-EE16-4BDE-AD78-A3488477237D,42.0,890903790.0,192.168.97.252,80ae6a58-ee16-4bde-ad78-a3488477237d,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Por favor comuníquese con la mesa de ayuda con...,ERROR,NaN
9641,540197864,16/05/2022 5:05,7001,7002,D5E40FF7-EB7D-43F5-BBB0-76B8535E05A6,42.0,890903790.0,192.168.97.252,d5e40ff7-eb7d-43f5-bbb0-76b8535e05a6,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,INICIO FALLIDO,ERROR,NaN
9644,540197890,16/05/2022 5:05,7001,7002,56F64A95-0406-4C4F-A8F6-0136659E0820,42.0,890903790.0,192.168.97.252,56f64a95-0406-4c4f-a8f6-0136659e0820,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Existe una relación vigente con ese empleador ...,GN39a,NaN

In [43]:
equal_43['DatosOperacion.NumeroDocumentoEmpleador'] == 1105684208

9633      False
9634      False
9638      False
9641      False
9644      False
          ...
989671    False
989672    False
989673    False
989674    False
989676    False
Name: DatosOperacion.NumeroDocumentoEmpleador, Length: 619132, dtype: bool

In [45]:
equal_43[equal_43['DatosOperacion.NumeroDocumentoEmpleador'] == 900432546]

Empty DataFrame
Columns: [ID, FechaOperacion, ServicioOrigen, ServicioDestino, Identificador, DatosOperacion.IdArl, DatosOperacion.UsuarioCreacion, DatosOperacion.IpCreacion, DatosOperacion.Identificador, DatosOperacion.CodigoARL, DatosOperacion.TipoDocumentoEmpleador, DatosOperacion.NumeroDocumentoEmpleador, DatosOperacion.ConsecutivoNITEmpleador, DatosOperacion.TipoPersona, DatosOperacion.NaturalezaJuridica, DatosOperacion.TipoAportante, DatosOperacion.RazonSocialEmpleador, DatosOperacion.PrimerNombreEmpleador, DatosOperacion.PrimerApellidoEmpleador, DatosOperacion.CorreoEmpleador, DatosOperacion.ActividadEconomica, DatosOperacion.ClaseAportante, DatosOperacion.TipoDocumentoRepresentante, DatosOperacion.NumeroDocumentoRepresentante, DatosOperacion.PrimerNombreRepresentante, DatosOperacion.PrimerApellidoRepresentante, DatosOperacion.FechaAfiliacion, DatosOperacion.CodigoSedeP, DatosOperacion.NombreSedeP, DatosOperacion.MunicipioSedeP, DatosOperacion.DireccionSedeP, DatosOperacion.ZonaSedeP, DatosOperacion.TelefonoSedeP, DatosOperacion.CorreoSedeP, DatosOperacion.TipoDocumentoResponsable, DatosOperacion.NumeroDocumentoResponsable, DatosOperacion.PrimerNombreResponsable, DatosOperacion.PrimerApellidoResponsable, DatosRespuesta.resultado, DatosRespuesta.mensaje, DatosRespuesta.codigo, MetaDatos]
Index: []

[0 rows x 42 columns]

In [46]:
df.head(10)

,ID,FechaOperacion,ServicioOrigen,ServicioDestino,Identificador,DatosOperacion.IdArl,DatosOperacion.UsuarioCreacion,DatosOperacion.IpCreacion,DatosOperacion.Identificador,DatosOperacion.CodigoARL,...,DatosOperacion.TelefonoSedeP,DatosOperacion.CorreoSedeP,DatosOperacion.TipoDocumentoResponsable,DatosOperacion.NumeroDocumentoResponsable,DatosOperacion.PrimerNombreResponsable,DatosOperacion.PrimerApellidoResponsable,DatosRespuesta.resultado,DatosRespuesta.mensaje,DatosRespuesta.codigo,MetaDatos
0,540137257,16/05/2022 1:39,1001,1002,0DD83FAC-B7A3-436D-809B-E110932B7974,43.0,800226175.0,192.168.97.252,0dd83fac-b7a3-436d-809b-e110932b7974,14-25,...,2.656802e+06,AUXILIAR.TALENTOHUMANO@AYS.COM.CO,CC,43606567,LAURA,CORDOBA,0.0,El empleador no existe en la información de re...,GN01,NaN
1,540137262,16/05/2022 1:39,1001,1002,54278FCA-FDEA-4A0E-89F5-F8A6702D3AA2,43.0,800226175.0,192.168.97.252,54278fca-fdea-4a0e-89f5-f8a6702d3aa2,14-25,...,3.209589e+09,GANADO.JM@OUTLOOK.ES,CC,10089578,ARCESIO,GOMEZ,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
2,540137268,16/05/2022 1:39,1001,1002,1580CE13-DC38-4D41-82AF-4244DB93E0DD,43.0,800226175.0,192.168.97.252,1580ce13-dc38-4d41-82af-4244db93e0dd,14-25,...,3.106025e+09,SOLUCIONESBMSAS@GMAIL.COM,CC,72279108,ALFREDO,MARTINEZ,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
3,540137276,16/05/2022 1:39,1001,1002,9E627527-D316-4D90-B596-9E73D4FCE682,43.0,800226175.0,192.168.97.252,9e627527-d316-4d90-b596-9e73d4fce682,14-25,...,3.006901e+09,GERENCIA@GMXSALUDOCUPACIONAL.COM,CC,32938928,SANDY,ACOSTA,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
4,540137285,16/05/2022 1:39,1001,1002,AC703E2C-B0CF-40D4-81F0-4DBBDBBD7531,43.0,800226175.0,192.168.97.252,ac703e2c-b0cf-40d4-81f0-4dbbdbbd7531,14-25,...,3.235869e+09,DAISSY.BENAVIDESTORRES@GMAIL.COM,CC,1129570651,DEISSY,BENAVIDES,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
5,540137288,16/05/2022 1:39,1001,1002,80D3FAA9-6DCF-4E99-A211-5CD8EFF5C967,43.0,800226175.0,192.168.97.252,80d3faa9-6dcf-4e99-a211-5cd8eff5c967,14-25,...,2.554347e+06,ANALISTA.FINANCIERO2@GRUPOCIUDADELA.COM.CO,CC,1027896603,CAROLINA,GONZALEZ,0.0,CorreoEmpleador,GE09,NaN
6,540137298,16/05/2022 1:39,1001,1002,ADFB8BBF-1937-45BA-B596-4DC5E5A11CC8,43.0,800226175.0,192.168.97.252,adfb8bbf-1937-45ba-b596-4dc5e5a11cc8,14-25,...,3.115217e+09,JIMENOS11@HOTMAIL.COM,CC,30080831,MARIA,JIMENO,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
7,540137302,16/05/2022 1:39,1001,1002,2D6E2C9A-F072-4050-8374-D4A88A3FF007,43.0,800226175.0,192.168.97.252,2d6e2c9a-f072-4050-8374-d4a88a3ff007,14-25,...,3.103819e+09,JIMENEZMAYORQUIN@GMAIL.COM,CC,80172180,MIGUEL,JIMENEZ,0.0,Razón social o nombre de la empresa (Fuente de...,GN06,NaN
8,540137310,16/05/2022 1:39,1001,1002,58410EF5-171C-4D61-BB19-80A64EEAD1B5,43.0,800226175.0,192.168.97.252,58410ef5-171c-4d61-bb19-80a64eead1b5,14-25,...,3.136268e+09,SEGURIDADSOCIALMEDELLIN@GMAIL.COM,CC,1036131564,JAVIER,VILLEGAS,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN
9,540137315,16/05/2022 1:39,1001,1002,370D0B59-91BF-40B0-88EE-D72EA9147A47,43.0,800226175.0,192.168.97.252,370d0b59-91bf-40b0-88ee-d72ea9147a47,14-25,...,3.175260e+09,MAYRAORTIZ237@HOTMAIL.COM,CC,1113621321,MAIRA,ORTIZ,0.0,APORTANTE EXISTENTE EN SAT,GN02,NaN

In [47]:
df['DatosOperacion.NumeroDocumentoEmpleador'] == 1105684208

0         False
1         False
2         False
3         False
4         False
          ...
993458    False
993459    False
993460    False
993461    False
993462    False
Name: DatosOperacion.NumeroDocumentoEmpleador, Length: 993463, dtype: bool

In [49]:
df[df['DatosOperacion.NumeroDocumentoEmpleador'] == '1105684208']

,ID,FechaOperacion,ServicioOrigen,ServicioDestino,Identificador,DatosOperacion.IdArl,DatosOperacion.UsuarioCreacion,DatosOperacion.IpCreacion,DatosOperacion.Identificador,DatosOperacion.CodigoARL,...,DatosOperacion.TelefonoSedeP,DatosOperacion.CorreoSedeP,DatosOperacion.TipoDocumentoResponsable,DatosOperacion.NumeroDocumentoResponsable,DatosOperacion.PrimerNombreResponsable,DatosOperacion.PrimerApellidoResponsable,DatosRespuesta.resultado,DatosRespuesta.mensaje,DatosRespuesta.codigo,MetaDatos
232355,542604657,17/05/2022 19:01,2001,2002,7DF78B71-9EAB-4C98-B088-3D410B6FC7B1,42.0,890903790.0,192.168.97.252,7df78b71-9eab-4c98-b088-3d410b6fc7b1,14-11,...,NaN,NaN,CC,1105684208,LUIS,BOCANEGRA,0.0,No existe una afiliación a la ARL que reporta ...,GN20,NaN
232358,542604677,17/05/2022 19:01,3001,3002,5CF92E4C-C542-4DD0-8EDE-1D81645AF4CB,42.0,890903790.0,192.168.97.252,5cf92e4c-c542-4dd0-8ede-1d81645af4cb,14-11,...,NaN,NaN,CC,1105684208,LUIS,BOCANEGRA,0.0,La sede no existe para el empleador o no está ...,GN30,NaN
232359,542604687,17/05/2022 19:01,7001,7002,DA8749AA-9375-4DA2-BFBC-ED720F46BA52,42.0,890903790.0,192.168.97.252,da8749aa-9375-4da2-bfbc-ed720f46ba52,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,La sede no existe para el empleador o no está ...,GN30,NaN
349243,543547450,18/05/2022 12:00,1001,1002,F6458205-5666-47EC-BEB3-21FC3820C127,42.0,890903790.0,192.168.97.252,f6458205-5666-47ec-beb3-21fc3820c127,14-11,...,6.082484e+09,ingrandyhuertas@hotmail.com,CC,1105684208,LUIS,BOCANEGRA,0.0,Fecha de inicio de afiliación o novedad es may...,GN35d,NaN
784191,547611923,20/05/2022 16:03,7001,7002,8C9B5CB7-03D9-4773-9FC1-F2ED94C739CE,42.0,890903790.0,192.168.97.252,8c9b5cb7-03d9-4773-9fc1-f2ed94c739ce,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,La sede no existe para el empleador o no está ...,GN30,NaN
785390,547624165,20/05/2022 16:15,7001,7002,3FDE6129-1DD8-4F53-9A09-223C9C59FD72,42.0,890903790.0,192.168.97.252,3fde6129-1dd8-4f53-9a09-223c9c59fd72,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,La sede no existe para el empleador o no está ...,GN30,NaN
786643,547635649,20/05/2022 16:27,7001,7002,633B2C6A-C3B2-45E8-AF27-E7B4253D9F6A,42.0,890903790.0,192.168.97.252,633b2c6a-c3b2-45e8-af27-e7b4253d9f6a,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,La sede no existe para el empleador o no está ...,GN30,NaN
787316,547641460,20/05/2022 16:31,7001,7002,27BFD7D9-16FC-46F4-B81B-D027529A00A9,42.0,890903790.0,192.168.97.252,27bfd7d9-16fc-46f4-b81b-d027529a00a9,14-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,La sede no existe para el empleador o no está ...,GN30,NaN

In [55]:
df[['DatosOperacion.NumeroDocumentoEmpleador', 'ServicioOrigen'], & ['DatosOperacion.NumeroDocumentoEmpleador'] == ''1105684208'']

SyntaxError: invalid syntax (1719457111.py, line 1)