In [55]:
import pandas as pd

In [56]:
df_positiva = pd.read_csv('Traza_ARL_202205.csv', sep=';', engine='python', on_bad_lines = 'skip')

In [58]:
df_positiva.head(2)

,ID,FechaOperacion,ServicioOrigen,ServicioDestino,Identificador,DatosOperacion,DatosRespuesta,MetaDatos
0,522088338,2022-05-02 12:00:12.590,1001,1002,D9C3DA24-2CD3-4903-AB02-6F759B23E999,"{ ""IdArl"": 42, ""UsuarioCreacion"": ""8909037...","{ ""resultado"": 0, ""mensaje"": ""Column name ...",NaN
1,522088340,2022-05-02 12:00:12.670,1001,1002,5045F5F0-7C7C-407A-8D39-16C68367FC04,"{ ""IdArl"": 42, ""UsuarioCreacion"": ""8909037...","{ ""resultado"": 0, ""mensaje"": ""Column name ...",NaN

In [75]:
df_positiva['FechaOperacion'].str.contains('IdArl": 49,').value_counts()

False    2560859
Name: DatosOperacion, dtype: int64

In [76]:
df_positiva(['FechaOperacion'] == '2022-05-02').value_counts()

TypeError: 'DataFrame' object is not callable

In [81]:
df_positiva[df_positiva['FechaOperacion'] >= '2022-06-01']

Empty DataFrame
Columns: [ID, FechaOperacion, ServicioOrigen, ServicioDestino, Identificador, DatosOperacion, DatosRespuesta, MetaDatos]
Index: []

In [51]:
df_positiva.head(5)

,ID,FechaOperacion,ServicioOrigen,ServicioDestino,Identificador,DatosOperacion,DatosRespuesta,MetaDatos
492,523283187,2022-05-04 09:10:49.450,1001,1002,1F05B4CC-DBB3-467A-8A36-00D190582096,"{ ""IdArl"": 42, ""UsuarioCreacion"": ""8909037...","{ ""resultado"": 0, ""mensaje"": ""Razón social...",NaN
552,523283565,2022-05-04 09:11:06.637,1001,1002,BA8C4737-3C37-46F9-9986-537DA347160F,"{ ""IdArl"": 42, ""UsuarioCreacion"": ""8909037...","{ ""resultado"": 0, ""mensaje"": ""Responsable ...",NaN
677,523284278,2022-05-04 09:11:35.923,1001,1002,F9FA3350-E17C-4CF6-9017-D2B47F633409,"{ ""IdArl"": 42, ""UsuarioCreacion"": ""8909037...","{ ""resultado"": 0, ""mensaje"": ""APORTANTE EX...",NaN
934,523334405,2022-05-04 10:38:38.717,1001,1002,4822C423-A659-402C-86D4-B5198B941D6B,"{ ""IdArl"": 42, ""UsuarioCreacion"": ""8909037...","{ ""resultado"": 0, ""mensaje"": ""APORTANTE EX...",NaN
1660,523380800,2022-05-04 12:01:29.427,1001,1002,CFA02357-AAD9-4BDE-AF24-A16B61A73C29,"{ ""IdArl"": 42, ""UsuarioCreacion"": ""8909037...","{ ""resultado"": 0, ""mensaje"": ""El empleador...",NaN